@charset "UTF-8";

/******基本設定******/
body {
    font-family: url(https://fonts.googleapis.com/css?family=Anton&text=0123456789);
}

@font-face {
    font-family: number;
    src: local('Hiragino Mincho ProN');
    unicode-range: U+0030-0039;
  }

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover{
    transition: all .4s;
    transform: scale(1.1, 1.1);

}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    border: 1px solid;
}



/******header設定******/
header {
    width: 100%;
    height: 5vw;
    position: fixed;
    left: 0;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px;
    background-color: white;
    display: table;
}

.h_frame {
    display: table-cell;
    vertical-align: middle;
}


.nav_list_pc {
    position: relative;
    display: flex;
    width: 35vw;
}

.nav_list_pc li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 34px;
    cursor: pointer;
    border-style: solid;
    border-width: 0 1px 0 0;
    /*font-weight: bold;*/
    font-size: clamp(0.8rem, 0.671rem + 0.64vw, 1.7rem);
}

.rogo {
    display: flex;
    width: 100%;
}

.rogo h1 {
    padding: 0px 40px;
}

.rogo img {
    width: 100%;
    max-height: 34px;
}

/*
.rogo h1::before {
    content: "★";
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}*/

.nav_pc {
    padding-right: 20px;
    position: fixed;
    right: 0;
}

/******PC header設定終わり******/




/******ハンバーガーメニュー設定******/
.menu_btn_tel {
    display: block;
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    top: 25px;
    left: 2vw;
}

.menu_btn_tel i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: transform 0.5s, opacity .5s;
}

.menu_btn_tel i:nth-child(1) {
    top: 0;
}

.menu_btn_tel i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu_btn_tel i:nth-child(3) {
    bottom: 0;
}


.menu_btn_tel.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.menu_btn_tel.show i:nth-child(2) {
    opacity: 0;
}

.menu_btn_tel.show i:nth-child(3) {
    transform: translateY(-16px) rotate(45deg);
}

/******ハンバーガーメニュー設定******/


/******メニュー内設定******/
.nav {
    width: 100vw;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    text-align: center;
}

.nav_list_li {
    list-style: none;
    font-size: 2rem;
    padding: 2rem;
}


.nav.show {
    opacity: 1;
    visibility: visible;
    /*width: 100vw;*/
    height: 100vh;
    background-color: white;
    text-align: center;
}


/******トップページ設定******/


/******main設定******/

#all_box {
    /*width: 80vw;*/
    padding-top: 70px;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.key_img {
    width: 100%;
    position: relative;
    margin: 0 auto 100px;
}

.key_img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.key_img_frame {
    width: 1150px;
    padding: 0;
    max-width: none!important;
}

.key_text1 {
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%); /* Safari用 */
    transform: translate(-50%, -50%);
    box-sizing:  border-box; 
    /*font-size: 2.8rem;*/
    font-size: 3vw;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
    white-space: nowrap;
  }

.key_text1 span {
    /*writing-mode: vertical-rl;*/
    padding-right: 0.5em;
    padding-left: 0.5em;
    vertical-align: middle;
    display: table-cell;
}
  

.key_text2 {
    position: absolute;
    bottom: -30px;
    left: 30%;
    -webkit-transform: translate(-70%, -30%);
    transform: translate(-70%, -30%);
    box-sizing: border-box;
    /* font-size: 1.5rem; */
    font-size: clamp(0.625rem, 0.446rem + 0.89vw, 1.875rem);
    /* width: 42vh; */
    font-weight: 300;
    color: white;
}

.key_text2 li {
    padding-top: 5px;
    padding-bottom: 10px;
}




.category {
    box-sizing: border-box;
    padding-right: 10%;
    padding-left: 10%;
}

.title {
    font-size: clamp(1.45rem, 1.286rem + 0.82vw, 2.6rem);
    color: black;
    margin: 5.5em 0 3em;
}



.route_box {
    position: relative;
    margin-bottom: 10em;
    border-bottom: 1px dotted #333;
}

.route_box h4 {
    font-size: 1.3rem;
    color: black;
    padding: 1em 0 3em;
}

.all_see {
    position: absolute;
    right: 0;
    font-size: clamp(0.5rem, 0.414rem + 0.43vw, 1.1rem);
    top: 6%;
}


.route_ul {
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
}

.route_plan {
   /*flex: 1; */
    /* flex-basis: 236px; */
    /* flex-grow: 2; */
    /* min-width: 23vw;
    max-width: 24.3vw; */
    width: 23vw;
    display: inline-block;
    margin: 20px 9px 80px;
    /*border: 1px solid red;*/
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s ease-out;
    padding: 1%;
    border: 1px solid #c4c1c1;
}

.route_ul::-webkit-scrollbar{/*横スクロールバー非表示*/
    display: none;
}

#engan {
    margin-bottom: 25%;
    border-bottom: none;
}




/******お遊びアニメーション******/
.route_plan:hover {
    box-shadow: 5px 5px 5px 5px rgb(93, 93, 93);
}

.route_plan:hover .plan_img_box img {
    transform: scale(1.1, 1.1);
}
/******お遊びアニメーション******/



.plan_img_box {
    width: 100%;
    min-height: 15vw;
    overflow: hidden;
    /*border: 1px solid blue;*/
}

.plan_img_box img {
  /*  position: relative;
    top: 50%;
    left: 50%;
    max-width: 100%;*/
    width: 100%;
    height: 100%;
    /* transform: translate(-50%,-50%); */
    object-fit: contain;
    vertical-align: middle;/*これ入れると、親要素の高さが揃って、下の文字の高さが揃う*/
    border-radius: 10px;
    /******お遊びアニメーション******/
    transition: all 0.45s;
    /******お遊びアニメーション******/
}


.plan_text_box {
    padding: 0.1em 0px 0 0;
}

.plan_title {
    font-size: clamp(1rem, 0.957rem + 0.21vw, 1.3rem);
    margin: 0.3em 0 0.3em 0;
}

.plan_description span {
    font-size: 0.8rem;
}

/******トップページ設定終わり******/




/******ルート詳細ページ設定******/

.category_link {
    padding-top: 125px;
    padding-left: 20%;
    padding-right: 20%;
}

.top_title {
    font-size: 2.3vw;
    font-weight: 600;
    font-family: sans-serif;
    color: #333;
    padding: 1em 0 1em 0;
}

.title_description {
    padding: 0.5em 0 2em 0;
    font-size: 1.3vw;
    color: rgb(87, 84, 84);
}


.plan_detail_box {
    position: relative;
    border: 1px solid #333;
}


.plan_detail {
    min-height: 15vw;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    /*position: relative;*/
}

.half {
    width: 50%;
}


.d_img_box {
    max-width: 100%;
    border: 1px solid #333;
}

.plan_detail img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.about_place {
    padding-right: 1em;
    font-size: 1.25vw;
}

.about_time {
    padding-left: 1em;
    font-size: 1.25vw;
}


.about_place span::before {
    content: "📍";
    display: inline-block;
    padding-right: 0.5em;
}



.about_time span::before {
    content: "🕒";
    display: inline-block;
    padding-right: 0.5em;
}

.time_flex {
    display: flex;
    flex-wrap: nowrap;
    padding: 1.5em 0 0 0;
}

.time_shift {
    padding: 0em 1.1111vw 0vw 4.4444vw;
    text-align: center;
    position: relative;
}

.shift dl {
    padding: 1.27778vw 0 1.66667vw 1.11vw
}

.time {
    float: left;
    padding-left: 2em;
    font-size: 1.2vw;
}

.name {
    font-size: 1.2vw;
}

.time::before {
    margin-left: -13px;
    margin-right: 40px;
}

.shift {
    border-left: 2px solid #333;
    position: relative;
}

.shift::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -6.1px;
    top: 16px;
    margin-right: 17px;
}



/******スポット詳細部分******/

.plan_description.rink {
    padding-top: 13em;
}

.plan_description {
    padding-top: 2em;
}


.plan_list {
    position: relative;
}

.plan_list_li {
    border-left: 1px solid #333; 
    padding-left: 3em;
    padding-bottom: 5em;
    border-left: 1px solid #333;
    display: flex;
    flex-wrap: nowrap;
}

.li_frame {
flex: 1;
    /*position: relative;*/
}

.li_title {
    padding-top: 4em;
    padding-bottom: 1em;
}

.li_title span {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.7rem);
    font-weight: 600;
    color: #333;
    text-align: left;
    font-weight: bold;
}

.li_time {
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    font-size: clamp(1.6rem, 1.514rem + 0.43vw, 2.2rem);
    font-weight: 100;
}

.li_time::before {
    content: '';
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -0.39em;
    margin-right: 25px;
}

.li_genre {
    /*width: 70px;*/
    padding-top: 1em;
    padding-bottom: 2em;
}

.li_genre span {
    display: inline;
    padding: 0.3em;
    font-size: 1.1rem;
    color: white;
    background-color: #333;
    border-radius: 10px;
}

.li_explanation {
    padding-top: 0.5em;
    padding-bottom: 2em;
    text-align: left;
    border-bottom: 1px solid #c4c1c1;
    letter-spacing: 0.18em;
    line-height: 1.4rem;

}

.li_explanation p {
    padding: 0 1.5em 0 0;
    font-size: 1rem;
    color: #333;
}

.information {
    padding-bottom: 1em;
    text-align: left;
    /*display: inline-block;*/
}

.info_text {
    text-align: left;
    padding-bottom: 0.4em;
}
    
.information p{
    font-size: 0.8rem;
    /*display: inline-block;*/
}


.plan_flex {
    flex: 1;
    padding-left: 2em;
}

.li_img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.li_img2 {
    text-align: center;
}

.li_img2 img {
    width: 100%;
    height: auto;
}




.map_box {
    width:100%;
    height: 400px;
    padding-top: 3em;
    padding-bottom: 5em;
}



/******スポット詳細部分終わり******/



.f_box {
    width: 100%;
    height: 10vw;
    background-color: #333;
    color: white;
}

h6 {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    line-height: 10vw;
    font-size: clamp(0.2rem, -0.071rem + 1.36vw, 2.1rem);
    letter-spacing: 0.25em;
}






/******レスポンシブ設定等******/

@media screen and (max-width: 900px){
    header {
        height: 70px;
    }

    #all_box {
        padding-right: 0;
        padding-left: 0;
    }


    .nav_pc {
        display: none;
    }

    .rogo {
        display: block;
        text-align: center;
    }

    .rogo img {
        width: 34px;
    }

    .route_ul {
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;/*横スクロールをビタ留めしてくれる*/
    }

    .route_plan {
        width: 78vw;
        min-width: 87vw;
        scroll-snap-align: start;
    }

    .category {
        padding-right: 5%;
        padding-left: 5%;
    }
    
    .route_box h4 {
        padding: 3em 0 3em 0;
    }

    .all_see {
        top: 20%;
    }




.time_shift {
    padding: 3.33333vw 1.11111vw 0vw 7.44444vw;
}



.plan_list_li {
    display: block;
    padding-left: 0;
}

.li_time::before {

    width: 10px;
    height: 10px;
    margin-left: -0.3em;
}

.li_img {
    display: none;
}

.li_img2 {
    display: block;
 }
}




@media screen and (min-width: 900px){
    .li_img2 {
        display: none;
}


@media screen and (min-width: 700px) {
    .menu_btn_tel {
        display: none;
    }
}

}


.no_link {
    pointer-events: none
}
